
apikey_owm.txt
bootstrap_harjoitus.zip
html-css-sivusto/html-css-sivusto.zip
cv/yhteydenotto.html
cv/yhteydenotto.css
cv/index.js
cv/index.html
cv/index.css
cv/images/oma_kuva.webp
cv/images/InBug-White.png
cv/images/github-mark-white.png
css-tiedosto/css-kehykset.zip
taustat/taustat_ja_varit_vastaukset.txt
