body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 0px;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.sisalto {
    display: flex;
    flex-grow: 1;
}
nav {
    background-color: deeppink;
    padding-bottom: 20px;
    height: 20px;
}
header {
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 30px;
    height: 20px;
}
aside {
    background-color: darkgreen;
    padding-left: 30px;
    padding-right: 50px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    background-color: rgb(34, 172, 34);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: orange;
}