h1 {
    border: 1px solid black;
    margin-top: 45px;
}
p {
    margin-left: 80px;
    border: 1px solid black;
}
#li1 {
    border: 1px solid black;
    border-bottom: none;
}
#li2 {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
}
#li3 {
    border: 1px solid black;
    border-top: none;
}
ul {
    margin: 25px;
}